* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unauthorized-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 220px 3% 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0b121d;
  background-image: linear-gradient(179deg, rgba(11, 18, 29, 0), rgba(11, 18, 29, 0.24) 28%, #0b121d 64%, #0b121d), url('../public/images/Anubis-Header-Secondary.jpg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, contain;
  background-repeat: repeat, repeat-x;
  min-height: 100vh;
}

.unauthorized-section a {
  margin-top: 0;
  font-family: Rajdhani, sans-serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 80px;
  line-height: 88px;
}

.stretch-cell {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.crud-form {
  min-width: 400px;
}

.options-wrapper {
  width: 100%;
  min-width: 400px;
}

.accent-line-small.line-space.extra-spacer {
  margin-top: 100px;
}

.match-grid.admin-mode {
  min-width: 900px;
}

a.remove-item {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
  padding: 10px;
}

.delete-question {
  display: inline-block;
  margin-top: 20px;
}

a.remove-item:hover, a.remove-item:active {
  opacity: 1;
}

a.remove-item img {
  width: 40px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.admin-add-button {
  margin-top: -56px;
}

.feedback {
  min-height: 50px;
}

.text-success {
    color: green;
}

.text-error {
    color: #991d1d;
}
.menu-items {
  width: 100%;
}

.menu-items .button {
  margin-bottom: 30px;
}

.interactionRight2 {
  -webkit-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  opacity:0;
}

.interactionRight3 {
  -webkit-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  opacity:0;
}

.interaction1 {
  -webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  opacity:0;
}

.interaction2 {
  -webkit-transform: translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  opacity: 0;
}

.moveUp2 {
  animation: 0.5s ease-in-out 0s 1 moveUp2;
}

.interaction3 {
  -webkit-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  transform:translate3d(35px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  opacity:0;
}

.interaction4 {
  -webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  opacity:0;
}

.interaction5 {
  -webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  -ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  opacity:0;
}

.visible-now {
  opacity: 1;
}

@keyframes moveUp2 {
  0% {
    transform: translateY(55px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* File uploads */

input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
    margin-left: auto;
    background: white;
    padding: 5px;
    margin: 5px 0;
}